<div class="flex-1 justify-center items-center min-h-full px-4 py-8">
  <%= render "songs/review_prompt_modal", song: @prompt_song %>

  <section class="bg-base-100 pt-2 md:pt-4 lg:pt-6 pb-6">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-primary">曲一覧</h2>

        <% if user_signed_in? %>
          <%= link_to new_song_path, class: "btn btn-primary text-base-100" do %>
            <%= inline_svg_tag("plus.svg") %>新しい曲を追加
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="bg-base-100 pt-6 pb-8 md:pb-12 lg:pb-16">
    <div class="container mx-auto px-4">
      <% if @songs.any? %>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          <% @songs.each do |song| %>
            <%= render "shared/song_card", song: song %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center py-12">
          <p class="text-2xl text-neutral mb-4">まだ曲が登録されていません</p>

          <% if user_signed_in? %>
            <%= link_to "最初の曲を追加する", new_song_path, class: "btn btn-primary text-base-100" %>
          <% else %>
            <p class="text-base text-neutral mb-4">曲を追加するには、ログインまたは新規登録が必要です</p>
            <%= link_to "ログイン / 新規登録", new_user_session_path, class: "btn btn-primary text-base-100" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
