<%= paginator.render do -%>
  <nav class="mt-8 md:mt-10 lg:mt-12 flex justify-center" role="navigation" aria-label="ページネーション">
    <div class="flex gap-2">
      <%= prev_page_tag unless current_page.first? %>

      <div class="md:hidden">
        <button class="btn bg-white text-primary font-medium pointer-events-none" aria-current="page">
          <%= current_page.number %> / <%= total_pages %>
        </button>
      </div>

      <div class="hidden md:flex">
        <% each_page do |page| -%>
          <%= page_tag page if page.display_tag? -%>
        <% end -%>
      </div>

      <%= next_page_tag if !current_page.out_of_range? && !current_page.last? %>
    </div>
  </nav>
<% end -%>
