<div class="flex-1 flex justify-center items-center min-h-full px-4 py-6 sm:py-8">
  <div class="p-6 sm:p-8 md:p-10 rounded-lg w-full max-w-lg bg-base-100 border border-base-300">
    <h2 class="text-2xl md:text-3xl font-semibold text-center mb-6 md:mb-8 text-primary"><%= t("devise.sessions.new.sign_in") %></h2>

    <%= form_with model: resource, as: resource_name, url: session_path(resource_name) do |f| %>
      <%= render "shared/error_message", object: resource %>

      <div class="mb-4 md:mb-6">
        <%= f.label :name, class: "label text-sm md:text-base" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ニックネームを入力", class: "w-full input text-base" %>
      </div>

      <div class="mb-4 md:mb-6">
        <%= f.label :password, class: "label text-sm md:text-base" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力", class: "w-full input text-base" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center gap-2 mb-4">
          <%= f.check_box :remember_me, class: "checkbox checkbox-sm" %>
          <%= f.label :remember_me, class: "text-neutral text-sm cursor-pointer" %>
        </div>
      <% end %>

      <div class="mt-6 md:mt-8">
        <%= f.submit t("devise.sessions.new.sign_in"), class: "w-full btn btn-primary h-10 text-base" %>
      </div>
    <% end %>

    <%= render "devise/shared/oauth_buttons" %>

    <div class="text-center mt-6 md:mt-8 text-sm md:text-base">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
